.app-container {
  text-align: center; /* Center aligns the content */
}

header {
  margin-bottom: 20px; /* Adds some space below the header */
}

input[type="text"] {
  width: 300px; /* Width of the search bar */
  padding: 10px; /* Padding inside the search bar */
  margin-top: 20px; /* Adds some space above the search bar */
  font-size: 16px; /* Increases the font size in the search bar */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  gap: 10px; /* Adjusts space between boxes */
  justify-content: center;
  margin: auto;
  max-width: 800px; /* Maximum width of the grid */
}

.grid-item {
  background-color: #f0f0f0; /* Light grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Sets the height of the boxes */
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}
